.Select-menu-icon {
    background-color: white;
    color: black;
}

.Select-value-icon {
    background-color: white !important;
    color: black !important;
}

.Select-value {
    background-color: white !important;
}
